.main {
  height: 100vh;
  padding-top: 50px;
  padding-bottom: 100px;

  background-size: cover;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__button {
    position: relative;
    width: 80%;
    margin: 0 auto;
    cursor: pointer;

    img {
      width: 100%;
    }

    span {
      position: absolute;
      color: #fff;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);

      font-family: Avanti;
      font-size: 18px;
      font-weight: 600;

      cursor: pointer;
    }
  }

  &__header {
    font-family: "Aniron", sans-serif;

    background: radial-gradient(100px, rgba(8, 24, 57, .8), transparent);
    border-radius: 50%;

    padding-inline: 15px;
  }

  &__title {
    color: #fff;
    line-height: 150%;

    padding-block: 15px;
  }
}